* {
    box-sizing: border-box; 
  }
  
  body {
    color: #797e83;
    font-size: 16px;
    margin: 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5; 
  }
  .container {
	width: 90%;
	margin: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; 
}

.main-header, 
.nav {
    display: flex;
    flex-direction: column;
}


.site-logo {
    align-self: center; 
}
.site-logo img {
    width: 150px;

}
.nav {
    margin-top: 1.5em;
}

.nav a {
    display: block;
    color: #797e83;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid #ebecec;
}
.nav a:hover {
    border-bottom: 1px solid #b92b27;
    color: #0b0b0b;
}

.nav-bar, 
.nav-links {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
}
.nav-bar {
    width: 100%;
    border-top: 1px solid #b92b27;
    border-bottom: 1px solid #b92b27;
    font-size: 1.15em;
}
.nav-links li  a {
    font-weight: 300;
    margin: 0px 20px;
}
.nav-links li  a:hover {
    color: #0b0b0b
}

.search-box {
    /* background: #2f3640; */
    height: 40px;
    margin: 10px 0px;
    border-radius: 40px;
    padding: 10px;
    /* transform: translate(45%, 45%); */
}
.search-btn {
    color: #b92b27;
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: .9em;
    font-weight: 300;
    color: #0b0b0b;
    transition: 0.5s;
}
.jumbotron {
    width: 100%;
}
.jumbotron img {
    width: 100%;
    height: 25em;
}

/* Media Queries Start  */
@media (min-width: 768px){
    .main-header {
        height: 120px;
        justify-content: flex-end;
        margin-top: 2em;
    }
    .site-logo img {
        width: 225px;
    }
    .nav {
        margin-top: 3em;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav a {
        border-bottom-color: transparent;
    }
}


@media (min-width: 1025px){
    .main-header {
        flex-direction: row;
    }
    .site-logo {
        margin-right: auto;
    }
    .nav {
        margin-top: 0;
        align-self: center;
    }
    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    }
}

/* Media Queries End */