* {
    width: 100%;
}
body {
    min-width: 100%;
}
/* container styling */
.container {
    width: 100%;
    display: inline-block;
}
/*      *    header styling     *   */
.header-nav-wrap {
    width: 95%;
    margin: 0px 50px;
}
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo {
    width: 18%;
    padding: 20px 0px;
}
 header > button {
    background-color: #B62219;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 12%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    outline-color: rgb(255, 255, 255);
    vertical-align: baseline;
    font-weight: 700;
    text-align: center;
    border: 1px solid #B62219;
    border-radius: 5px;
    margin: 20px 20px 0px 30px;
    border-color: rgb(141, 12, 4);
    border-width: 2px;
 }
 header > a {
    color: #B62219;
    width: 12%;
    font-size: 22px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    text-align: left;
    text-decoration-style: solid;
    margin: 14px 10px;
 }
 .email {
     width: 26%;
 }
 .top-address {
     color: rgb(153, 153, 153);
     width: 14%;
     cursor: pointer;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     text-align: right;
     text-decoration-style: solid;
     line-height: 28px;
     font-weight: 400;  
    text-align: right;
    margin: 14px 20px 14px 5px ;
 }
 .header-social-icons {
    width: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    padding: 1px;
    margin-left: 0.5%;
    margin-top: 14px;
 }
 /* .header-social-icons > img {
    height: 24px;
 } */
 /* header > div, button, a  {
     margin-top: 25px;
 } */


/* container items styling */


.nav-bar {
    width: 100%;
    height: 40px;
    background-color:#B62219;
    text-align: center;
    border-left: 10px solid #B62219;
    padding: 5px;
 
}
.nav-bar > a {
    color: white;
    text-decoration: none; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin: 15px 22px;
    font-weight: 700;
    cursor: pointer;
    line-height: 20px;
}

.nav-bar > .search-bar {
    border-bottom-color: rgb(234, 234, 234);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    height: 32px;
    display: inline-block;
    width: 10%;
    padding: 4px 10px;   
    color: #666666;
    background-color: #FFFFFF;
    margin: 0;
    border: 1px solid #EAEAEA;
    border-right: none;
    border-radius: 3px 0 0 3px;
    box-sizing: border-box;

}

.nav-bar > button {
    width: 5%;
    background-color: #3E3E3E;;
    color: white;
    height: 32px;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.left-side-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 0.5px solid white;
    height: 100%;
    margin-left: 50px;
}
.left-side-bar > ul {
    list-style-type: none;
    margin: 3px;
    padding: 3px;
    width: 95%;
    height: 325px;
    text-align: left; 
}
.left-side-bar > ul > div {
    background-color: #ebebeb;
}
 ul > div a {
    display: inline-block; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #B62219;
    text-decoration: none;
    height: 30px;
    font-size: 16px;
    width: 65%;
    padding: 5px;
    font-weight: 400;
    line-height: 24px;
}
ul > div {
    box-sizing: border-box;
    border: 0.1px solid white;
    width: 100%;
    height: 60px;
    vertical-align: middle;
    margin: 3px 0px;
}
ul > div > img {
    width: 40px;
    height: 40px;
    padding: 5px;
    mix-blend-mode: multiply;
    vertical-align: middle;
    
}

ul > div a:hover {
    /* background-color: #B62219; */
    text-decoration-line: underline;
}
.widget-title {
    box-sizing: border-box;
    color: white;
    background-color: #B62219;
    border: 1px solid white;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* height: 65px; */
    padding: 10px;
    text-align: center;
    font-size: 100%;
    vertical-align: baseline;
    font-style: inherit;
    line-height: 32px;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}
.left-side-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}
.left-side-logo > img {
    margin-top: 15px;
    height: 99px;
    width: 125px;
}
.left-side-logo > img:nth-child(3n+3) {
    margin: 10px 65px;
}
.entry-title {
    /* background: transparent !important; */
    font-size: 16px !important;
    text-align: left !important;
    line-height: normal;
    padding: 10px 15px;
    margin: 0px;
    background-color: #e5e3e3;
    width: 90%;
    border-bottom: 3px solid #B62219;
}

.entry-title > a {
    color: #B62219;
    text-decoration-line: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.blog-post > img  {
    margin-top: 15px;
}

.home-blog-news-button > a {
    color: white;
    text-decoration-line: none;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}
.home-blog-news-button {
    width: 80%;
    margin: 0px 30px 35px 30px;
    border: 1px solid #B62219;
    border-radius: 0px 0px 4px 4px;
    height: 50px;
}
.footer-widget-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border-top: 3.5px solid #630701;
}
.footer-widget-container > div {
    width: 17%;
    height: 300px;
    background-color: #8d0c05;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 15px;
    
}
.footer-widget-container > div:nth-child(2n){
    background-color: #3e3e3e;
}
.copyright {
    width: 100%;
    background-color: #b62219;
    height: 50px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
    float: none;
}
.footer-widget-container > div > h3 > span {
    font-size: 15px;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.center-content {
    display: flex;
    width: 50%;
    height: 500px;
    border: 1px solid black;
    background-color: red;
}