* {
    width: 100%;
}
body {
    min-width: 100%;
}
/* container styling */
.container {
    width: 100%;
    display: inline-block;
}
/*      *    header styling     *   */
.header-nav-wrap {
    width: 95%;
    margin: 0px 50px;
}
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo {
    width: 18%;
    padding: 20px 0px;
}
 header > button {
    background-color: #B62219;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 12%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    outline-color: rgb(255, 255, 255);
    vertical-align: baseline;
    font-weight: 700;
    text-align: center;
    border: 1px solid #B62219;
    border-radius: 5px;
    margin: 20px 20px 0px 30px;
    border-color: rgb(141, 12, 4);
    border-width: 2px;
 }
 header > a {
    color: #B62219;
    width: 12%;
    font-size: 22px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    text-align: left;
    text-decoration-style: solid;
    margin: 14px 10px;
 }
 .email {
     width: 26%;
 }
 .top-address {
     color: rgb(153, 153, 153);
     width: 14%;
     cursor: pointer;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     text-align: right;
     text-decoration-style: solid;
     line-height: 28px;
     font-weight: 400;  
    text-align: right;
    margin: 14px 20px 14px 5px ;
 }
 .header-social-icons {
    width: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    padding: 1px;
    margin-left: 0.5%;
    margin-top: 14px;
 }
 /* .header-social-icons > img {
    height: 24px;
 } */
 /* header > div, button, a  {
     margin-top: 25px;
 } */


/* container items styling */


.nav-bar {
    width: 100%;
    height: 50px;
    background-color:#B62219;
    text-align: center;
    border-left: 10px solid #B62219;
    /* padding-top: 15px; */
 
}
.nav-bar > a {
    color: white;
    text-decoration: none; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin: 15px 22px;
    font-weight: 700;
    cursor: pointer;
    line-height: 20px;
}

.nav-bar > .search-bar {
    border-bottom-color: rgb(234, 234, 234);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    height: 32px;
    display: inline-block;
    width: 10%;
    padding: 4px 10px;   
    color: #666666;
    background-color: #FFFFFF;
    margin: 0;
    border: 1px solid #EAEAEA;
    border-right: none;
    border-radius: 3px 0 0 3px;
    box-sizing: border-box;

}

.nav-bar > button {
    width: 5%;
    background-color: #3E3E3E;;
    color: white;
    height: 32px;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.left-side-bar {
    display: flex;
    flex-direction: column;
    width: 18%;
    border: 1px solid black;
    height: 500px;
    margin-left: 50px;
}
.left-side-bar > ul {
    list-style-type: none;
    margin: 3px;
    padding: 3px;
    width: 80%;
    border: 1px solid blue;
    height: 125px;
    background-color: #ebebeb;
    text-align: left; 
}
 ul > div a  {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #B62219;
    /* padding: 8px 16px; */
    text-decoration: none;
    padding: 13px 15px 13px 50px;
    border: 1px solid black;
    height: 20px;
    padding: 5px;
}

ul > div a:hover {
    color: white;
    background-color: #B62219;
    text-decoration-line: underline;
}
